
.my {
    color: indigo;
 }
.your {
     background-color: lawngreen;
 }

.my.your{
     font-size: 100px;
 }

 .special{
     color: aquamarine;
     background-color: black;
     text-transform: uppercase;
 }